/*---------- font -----------*/
body {
  font-family: 
  /* en */
  Optima, Candara, Calibri, Arial, 
  /* cn */
  SimSun, sans-serif;
}

/*-------- sticker footer in fixed-height -------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  border-top: 1px solid #e5e5e5;
}

/* code */
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
  color: black;
  background: #f9f9f9;
}

/* headings*/

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h4, h5 {
  font-size: 1rem;
}

/* ----------- others ------------- */
img {
  max-width: 80%;
}

p {
  text-align: justify;
  margin-top: 1rem;
}

.footnotes {
  font-size: 0.8rem;
}

.article-summary, .article-header {
  margin-bottom: 1rem;
}

.article-summary + hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
